
<div class="show-preview-container">
  <%= show.title %>
  <p>Composer: <%=show.composer %></p>
  <p>Lyricist: <%=show.lyricist %></p>
  <p>Librettist: <%=show.librettist %></p>
  <p>Licensed By: <%= show.licensing_company %></p>
</div>
