
<div class="show-profile-container">
  <%= show.title %>
  <p>Composer: <%= show.composer %></p>
  <p>Lyricist: <%= show.lyricist %></p>
  <p>Librettist: <%= show.librettist %></p>
  <p>Description: <%= show.description %></p>
  <p>Cast Size: <%= show.cast_size %> </p>
  <p>Length: <%= show.length %> </p>
  <p>Music Genre: <%= show.music_genre %></p>
  <a href="<%=show.licensing_link%>">Visit <%= show.licensing_company %> for licensing information. </a>
</div>
