<!DOCTYPE html>
<html>
<head>
  <title>AnotherOpenin'</title>
  <link rel="shortcut icon" href='/assets/tophat.jpg'/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">ANOTHER OPENIN'</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Browse Shows', shows_path %></li>
            <li><%= link_to 'Show Search', new_search_path %></li>
            <li><%= link_to "My Profile", user_path(current_user) %></li>
            <li><%= link_to 'Log Out', logout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Browse Shows', shows_path %></li>
            <li><%= link_to 'Show Search', new_search_path %></li>
            <li><%= link_to 'Sign Up', new_user_path %></li>
            <li><%= link_to 'Log In', login_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>
  <%= yield %>

<footer class="footer">
  <div class="container">
   <p class="navbar-text pull-left">
    ANOTHER OPENIN' - A web app that connects theatre companies to musicals they want to produce</p>
      <p class="navbar-text pull-right">
        2016 Another Openin' |
        <a href="https://github.com/ChristynBudzyna/another_openin">
       Source Code</a>
      </p>
    </div>
   </footer>

</body>

</html>
